@page
@model RM_Warehouse.Pages.Under_ConstructionModel
@{
    ViewData["Title"] = "Under Construction";
}

@* THIS PAGE IS TO SHOW UNDER CONSTUCTION MESSAGE FOR UNAVAILABLE PAGE.*@

<h1>THIS PAGE IS UNDER CONSTRUCTION.</h1>
<h2>PLEASE WAIT FOR FEW DAYS</h2>
