@page
@model RM_Warehouse.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome RM Warehouse";
}

@*THIS PAGE SHOWS WAREHOUSE IMAGE WITH COVER SCREEN CSS*@

<html>
    <head>
        <style>
        body {
            background-image: url("warehouse_1.jpg");
            background-size: cover;
        }
        </style>
    </head>
        <body></body>
</html>


